*{
    margin:0;
    padding:0;
}
body{
    background-color:white;
    color:black;  
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background-color: rgb(46, 46, 143);
}
nav ul{
    display:flex;
    justify-content:space-around;
}
nav ul li{
    list-style:none;
    margin:0 55px;
}
nav ul li:hover{
    color: yellowgreen;
    font-size:1.2rem;
}
.left{ 
    font-size:1rem;
}
.first{
    color: white;
}
.second{
    display: flex;
    justify-content: space-around;
    margin:25px;
    padding:9px;
    border: 1.5px solid black;
    border-radius:30px; 
    background-color:rgb(204, 166, 240);  
}
.second div{
    margin: auto;
    padding:20px;
    width:30%;    
}
.leftsection{
    font-size:2rem;
    padding:10px;
    margin: 10px;
}
.nav2{
    background-color: white;
    font-size:2rem;  
}
.nav3{
    background-color: white;
    font-size: 2rem;
}
.container{
    padding:5px;
    margin:px;
    font-size:1.5rem;   
}
hr{
    color: black;
}
.third{
    border:1.5px solid black;
    border-radius:50px;
    padding:22px;
    margin:50px;
    
}
.nav4{
    background-color:rgb(145, 145, 241);
    font-size:2rem;
}
.fourth{
    font-size:1.5rem;
    border:1.5px solid black;
    margin:25px;
    padding:9px;
    border-radius:30px ;
    background-color: rgb(145, 145, 241);
}
.nav5{
    background-color: rgb(245, 240, 189);
    font-size:2rem;
}
.fifth{
    font-size:1.5rem;
    border:1.5px solid black;
    border-radius:30px;
    margin:25px;
    padding:9px;
    background-color: rgb(245, 240, 189);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    margin-top: auto;  /* Pushes footer to the bottom */
    background-color:rgb(46,46,143);
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
}

footer p {
    margin: 0;
    color:white;
}
.nav6{
    background-color: white;
    font-size:1.4rem;
}